@import '../../variables';

@mixin adjustSizeThumbnail($width, $height){
  width: $width;
  height: $height;
}

.Header {
  display: flex;
  flex-direction: column;
  &__Row1{
    background-color: $purple-color;
    display: flex;
    column-gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 10px 0;
    p {
      color: $gray-color;
      font-size: 1.3rem;
      font-weight: 600;
      word-spacing: 2px;
    }
    .Thumbnail-Image {
      @include adjustSizeThumbnail(120px, 35px )
    }
    button {
      height: 30px;
      padding: 0 15px;
      border-radius: 5px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
  &__Row2{
    background-color: $yellow-color;
    display: grid;
    grid-template-columns: 2fr auto;
    grid-template-areas: 
    "topleft topright"
    "bottomleftright bottomleftright";
    padding: 5px 10px;
    @media screen and (min-width:768px){
      grid-template-columns: 3fr auto;
      grid-template-areas: "topleft bottomleftright topright";
    }
    &-Sideleft {
      grid-area: topleft;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 10px 0;
      .Thumbnail-Image {
        @include adjustSizeThumbnail(auto, 20px)
      }
    }
    &-Sideright{
      grid-area: topright;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      nav {
        height: 100%;
        ul{
          height: 100%;
          display: flex;
          align-items: center;
          li {
            padding: 14px 10px;
          }
        }
      }
    }
    &-Search {
      grid-area: bottomleftright;
      align-self: flex-end;
      display: flex;
      height: 35px;
      width: 100%;
      margin: auto 0;
      button {
        display: none;
        height: 100%;
        width: 100px;
        @media screen and (min-width:990px){
          display: inline-block;
        }
      }
      .Search__Container-Input {
        background-color: $white-color;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        display: flex;
        align-items: center;
        column-gap: 5px;
        padding: 0 10px;
        font-size: 1.6rem;
      }
      .Search__Container-Input2 {
        @extend .Search__Container-Input;
        display: none;
      }
    }
    &-ShorthandAccess {
      display: none;
      @media screen and (min-width:990px){
        display: flex;
        font-size: 1.4rem;
      }
    }
    &-Cart {
      font-size: 2.4rem;
    }
    &-Menuicon {
      font-size: 2.4rem;
      display: flex;
      align-items: center;
      @media screen and (min-width:990px){
        display: none;
      }
    }
  }
  &__Row3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: $white-color;
    padding: 10px;
    &-Deliveryform {
      font-size: 1.2rem;
      @media screen and (min-width:990px){
        display: none;
      }
    }
    &-Sideleft{
      display: none;
      align-items: center;
      column-gap: 10px;
      @media screen and (min-width:990px){
        cursor: pointer;
        display: flex;
        font-size: 1.4rem;
        min-height: 30px;
        i {
          padding-left: 4px;
        }
        ul {
          column-gap: 25px;
          display: flex;
          li {
            position: relative;
            display: block;
            a:hover {
              background-color: rgb(221, 221, 221);
            }
            ul {
              display: none;
            }
            &:hover > ul {
              display: block;
              position: absolute;
              ul {
                left: 100%;
              }
            }
          }
        }
      }
    }
    &-Sideright{
      @extend .Header__Row3-Sideleft;
      display: none;
      @media screen and (min-width:990px){
        display: flex;
      }
    }
  }
}

.hidden{
  display: none;
}
.visible {
  display: flex;
}