@import '../../variables';


.Navbar__Sidebar{
  background-color: $white-color;
  bottom: 0;
  height: fit-content;
  left: 0;
  min-height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
}
.Sidebar__Block1{
  display: flex;
  align-items: center;
  background-color: $yellow-light-color;
  padding: 18px;
  column-gap: 15px;
  i {
    font-size: 3.2rem;
  }
  &-Opts {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  &-GetIn>a {
    color: #000;
    font-weight: 600;
    margin-right: 15px;
  }
}
.Sidebar__Block2 {
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  border-bottom: 1px solid #c2c2c2;
  a {
    font-size: 1.4rem;
  }
}
.Sidebar__Block3 {
  padding: 15px;
  .Accordion {
    &__Label {
      cursor: pointer;
      display: block;
      font-size: 1.4rem;
      font-weight: 800;
      padding: 15px 0;
      position: relative;
      &::after {
        background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%2300099;" /></svg>');
        background-size: contain;
        content: "";
        height: 6px;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.4s;
        width: 12px;
      }
    }
    &__Content {
      display: none;
      font-size: 1.2rem;
      font-weight: 500;
      padding: 0 20px;
      li {
        padding: 10px 0;
        border-bottom: 1px solid ;
      }
    }
    &__Input {
      display: none;
      &:checked ~ .Accordion__Content {
        display: block;
      }
      &:checked ~ .Accordion__Label::after {
        transform: translateY(-50%) rotate(0.5turn);
      }
    }
  }  
}