@import '../../variables';


.Navbar__Sidebar{
  background-color: $white-color;
  bottom: 0;
  height: fit-content;
  left: 0;
  min-height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
}
.Sidebar__Block1{
  display: flex;
  align-items: center;
  background-color: $yellow-light-color;
  padding: 18px;
  column-gap: 15px;
  i {
    font-size: 3.2rem;
  }
  &-Opts {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  &-GetIn>a {
    color: #000;
    font-weight: 600;
    margin-right: 15px;
  }
}
.Sidebar__Block2 {
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  border-bottom: 1px solid #c2c2c2;
  a {
    font-size: 1.4rem;
  }
}

.Sidebar__Block3 {
  .Accordion {
    display: block;
    width: 100%;
    &__Link {
      cursor: pointer;
      display: block;
      position: relative;
      padding: 10px;
    }
    &__Submenu {
      display: none;
      a {
        display: block;
        padding: 10px 30px;
      }
      li {
        border-bottom: 1px solid #000;
      }
    }
  }


}

.Sidebar__Block4 {
  @extend .Sidebar__Block2;
  border: none;
}