@import '../../variables';


.Navbar__Sidebar{
  background-color: $white-color;
  bottom: 0;
  height: fit-content;
  left: 0;
  min-height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
}
.Sidebar__Block1{
  align-items: center;
  background-color: $yellow-light-color;
  column-gap: 15px;
  display: flex;
  padding: 18px;
  i {
    font-size: 3.2rem;
  }
  &-Opts {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 1.4rem;
    row-gap: 10px;
  }
  &-GetIn>a {
    color: #000;
    font-weight: 600;
    margin-right: 15px;
  }
  &-Close {
    background-color: transparent;
    cursor: pointer;
    height: 100%;
    line-height: 100%;
  }
}
.Sidebar__Block2 {
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  border-bottom: 1px solid #c2c2c2;
  a {
    font-size: 1.4rem;
  }
}

.Sidebar__Block3 {
  .Accordion {
    border-bottom: 1px solid #c2c2c2;
    display: block;
    font-size: 1.4rem;
    padding: 15px;
    width: 100%;
    li i {
      transition: all 0.4s ease;
    }
    li.open i {
      transform: rotate(180deg);
      transition: all 0.4s ease;
    }
    &__Link {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      position: relative;
    }
    &__Submenu {
      display: none;
      a {
        display: block;
        padding: 10px 20px;
      }
      li {
        border-bottom: 1px solid rgb(161, 159, 159);

      }
    }
  }


}

.Sidebar__Block4 {
  @extend .Sidebar__Block2;
  border: none;
}