.Container__OffersAndNews {
  background-color: khaki;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px 100px;
  column-gap: 20px;
  height: 100%;
  width: 100%;
  
}
@media screen and (min-width: 768px){
  .Container__OffersAndNews {
    grid-template-columns: auto auto;
    .Offers {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      row-gap: 20px;

      &-Thumbnail {
        height: max-content;
      }
    }
  }
}
